.bannerImgHolder {
    position: relative;
    width: 100%;
    /* height: 290px; */
    height: 489px;
}


@media (max-width: 992px) {
    .bannerImgWrapper {
        height: 250px !important;
    }

    .bannerImgHolder {
        height: 250px !important;
    }
}


@media (max-width: 500px) {
    .bannerImgWrapper {
        height: 200px !important;
    }

    .bannerImgHolder {
        height: 200px !important;
    }
}

@media (max-width: 430px) {
    .bannerImgWrapper {
        height: 160px !important;
    }

    .bannerImgHolder {
        height: 160px !important;
    }
}


@media (max-width: 375px) {
    .bannerImgWrapper {
        /* height: 110px !important; */
    }

    .bannerImgHolder {
        /* height: 110px !important; */
    }
}